<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
<div class="login_container">
    <div class="logo" onclick="go(1)"><img src="/img/logo.png" class="login_logo"></div>
    <div class="login_box">
        <div class="login_header">
            <h1>회원가입</h1>
        </div>
        <form th:action="@{/member/join}" method="post">
            <div class="flex column a-center">
                <div><input type="text" class="inputbox" name="username" placeholder="아이디"></div>
                <div><input type="password" class="inputbox" name="password" placeholder="비밀번호"></div>
            </div>
            <div class="flex j-cener">
                <div class="w-300 flex space-between">
                    <button type="submit">가입</button>
                </div>
            </div>
            <div class="w-300 m-auto text-right">
                <br>
                <a href="/">메인으로</a>
            </div>
        </form>
        <!--<div th:if="${param.error}" class="mt-50">
            <p style="color:red;">아이디 또는 비밀번호가 틀렸습니다.</p>
        </div>-->
    </div>
</div>
<script>
    function go(number) {
        if (number === 1) {
            location.href = "/";
        }
    }
</script>
</body>
</html>
