<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="logo"><img class="main_logo" src="/img/logo.png"></div>
    <div><h1 class="pointer" style="margin-left: 10px;">GROUPWARE</h1></div>
    <div class="menu">
        <div th:if="${session.loginMember != null}">
            <span th:text="${session.loginMember.username}"></span> 님 | <span class="pointer" onclick="go(5)">로그아웃</span>
        </div>
        <div th:if="${session.loginMember == null}">
            <span class="pointer" onclick="go(3)">로그인</span> | <span class="pointer" onclick="go(4)">회원가입</span>
        </div>
    </div>
</div>
<div class="nav">
    <div class="nav_container">
        <div class="item" onclick="go(1)">홈</div>
        <div class="item" onclick="go(2)">게시판</div>
    </div>
</div>
<div class="main">
</div>
<div class="footer">
    <div>Copyrightⓒ2026 GROUPWARE ALL RIGHTS RESERVED.</div>
</div>
<script>
    function go(number) {
        if (number === 1) {
            location.href = "/";
        } else if (number === 2) {
            location.href = "/board/list";
        } else if (number === 3) {
            location.href = "/member/login";
        } else if (number === 4) {
            location.href = "/member/join";
        } else if (number === 5) {
            location.href = "/member/logout";
        }
    }
</script>
</body>
</html>
