<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.MemberMapper">

    <insert id="insert" parameterType="Member">
        INSERT INTO member (username, password, role)
        VALUES (#{username}, #{password}, 'USER')
    </insert>

    <select id="findById" parameterType="long" resultType="Member">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>

    <select id="findByUsername" parameterType="string" resultType="Member">
        SELECT *
        FROM member
        WHERE username = #{username}
    </select>

    <update id="updateRememberToken">
        UPDATE member
        SET remember_token = #{token},
            token_expiry = #{expiry}
        WHERE id = #{memberId}
    </update>

    <select id="findByRememberToken" parameterType="string" resultType="member">
        SELECT *
        FROM member
        WHERE remember_token = #{token}
          AND token_expiry > NOW()
    </select>

    <update id="clearRememberToken">
        UPDATE member
        SET remember_token = NULL,
            token_expiry = NULL
        WHERE id = #{memberId}
    </update>
</mapper>